<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shafy.dolabelkhedma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AttendanceActivity"
            android:label="@string/main_add_atten"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AttendanceTheme" />
        <activity
            android:name=".ui.FridayActivity"
            android:label="@string/main_friday"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.TripActivity"
            android:label="@string/main_trip"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.DolabActivity"
            android:label="@string/main_dolab"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.LogActivity"
            android:label="@string/main_log"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AttendanceTheme" />
        <activity
            android:name=".ui.AngelActivity"
            android:label="@string/main_log"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.LogActivity"
            android:theme="@style/Fullscreen" />
        <activity android:name=".ui.AddingAngelActivity"></activity>
    </application>

</manifest>